.container-fluid{
    background-color: #200e0e;
}
marquee{
 /*   font-size: 20px; */
    color: #fff;
    font-family: sans-serif;
 /*   font-weight: 100; */
    
}

.rpsButton {
    border-radius: 8px;
    background-color: #fff;
}

#endGameButton{
    font-size: 60px;
    border-radius: 8px;
    background-color: #fff;
}

button{
    background: #fff;
    border: none;
    font-size: 60px;
}

.resultContainer{
    color: #fff;
    font-size: 40px;
    
}

